<div class='clock'>
  <p id='day-of-week'></p>
  <p id='time'></p>
  <p id='date'></p>
</div>

<div class='message'>
  <ul>
    <% @board.message.each_line do |line| %>
      <% next if line.strip.empty? %>
      <li><%= line %></li>
    <% end %>
  </ul>
</div>
