body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.clock {
  color: cyan;
  font-size: 4em;
  margin: 2em 0 1em 0;
  padding: 0;
  text-align: center;

  p {
    font-size: inherit;
  }
}

.message {
  margin: 0;
  padding: 0;

  ul {
    font-size: 3em;
    display: table;
    margin: 0 auto;
    padding: 0;

    li {
      margin: 1.4em;
      padding: 0;
    }
  }
}

.edit-page {
  text-align: center;

  h1 {
    font-weight: normal;
    font-size: 100%;
  }
}
