html, body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

.clock {
  color: cyan;
  margin: 3em 0 1em 0;
  padding: 0;
  text-align: center;

  p {
    font-family: TeluguSangamMN;
    margin: 0;
    padding: 0.4em;
  }

  #day-of-week {
    margin-bottom: 0.1em;
  }
}

.message {
  margin: 0;
  padding: 0;

  ul {
    display: table;
    margin: 0 auto;
    padding: 0;

    li {
      font-family: TeluguSangamMN;
      margin: 1em;
      padding: 0;
    }
  }
}

.edit-page {
  text-align: center;

  h1 {
    font-weight: normal;
    font-size: 100%;
  }
}

// small screen
@media all and (max-width: 400px) {
  .message ul li {
    font-size: 1.5em;
  }

  #day-of-week {
    font-size: 3em;
  }

  #time, #date {
    font-size: 1em;
  }
}

// large screen
@media all and (min-width: 401px) {
  .message ul li {
    font-size: 3em;
  }

  #day-of-week {
    font-size: 8em;
  }

  #time, #date {
    font-size: 2em;
  }
}
